@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie Database</h1>
    <a asp-area="" asp-controller="Movie" asp-action="Register">Register a Movie</a>
    <br />
    <a asp-area="" asp-controller="Movie" asp-action="List">View Movie Database</a>
</div>
